<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BankRuleMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into T_BANK_RULE(
			`BANK_NAME`,
			`BANK_SHORT_NAME`,
			`LIMIT`,
			`DAY_LIMIT`,
			`TIME_LIMIT_BEGIN`,
			`TIME_LIMIT_END`,
			`CHANNEL_NAME`
		) values (
			#{BANK_NAME},
			#{BANK_SHORT_NAME},
			#{LIMIT},
			#{DAY_LIMIT},
			#{TIME_LIMIT_BEGIN},
			#{TIME_LIMIT_END},
			#{CHANNEL_NAME}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
        update T_BANK_RULE SET `DELETE_STATE` = 0
        where
        ID = #{ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  T_BANK_RULE
			set 
			`BANK_NAME` = #{BANK_NAME},
			`BANK_SHORT_NAME` = #{BANK_SHORT_NAME},
			`LIMIT` = #{LIMIT},
			`DAY_LIMIT` = #{DAY_LIMIT},
			`TIME_LIMIT_BEGIN` = #{TIME_LIMIT_BEGIN},
			`TIME_LIMIT_END` = #{TIME_LIMIT_END},
			`CHANNEL_NAME` = #{CHANNEL_NAME},
        	ID = #{ID}
			where
				ID = #{ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			`BANK_NAME`,
			`BANK_SHORT_NAME`,
			`LIMIT`,
			`DAY_LIMIT`,
			`TIME_LIMIT_BEGIN`,
			`TIME_LIMIT_END`,
			`CHANNEL_NAME`,
			`DELETE_STATE`,
			ID
		from 
			T_BANK_RULE
		where 
			ID = #{ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.BANK_NAME,
				a.BANK_SHORT_NAME,
				a.LIMIT,
				a.DAY_LIMIT,
				a.TIME_LIMIT_BEGIN,
				a.TIME_LIMIT_END,
				a.CHANNEL_NAME,
				a.DELETE_STATE,
				a.ID
		from 
				T_BANK_RULE a
		where
				a.DELETE_STATE = 1
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.BANK_NAME,
				a.BANK_SHORT_NAME,
				a.LIMIT,
				a.DAY_LIMIT,
				a.TIME_LIMIT_BEGIN,
				a.TIME_LIMIT_END,
				a.CHANNEL_NAME,
				a.DELETE_STATE,
				a.ID
		from 
				T_BANK_RULE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from T_BANK_RULE
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>